html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  background-color: #fff;
  box-shadow: 0 0 9px -5px #000;
  display: none;
  padding: 20px 0; }
  header .navbar-default {
    background-color: #fff;
    border-color: transparent; }
    header .navbar-default .navbar-toggle {
      border-color: #0f63f5;
      border: 0;
      border-radius: 2px;
      margin: 0; }
      header .navbar-default .navbar-toggle .icon-bar {
        width: 30px;
        background: #0f63f5;
        height: 3px; }
    header .navbar-default .fa {
      color: #12573a; }
    header .navbar-default .navbar-toggle:hover,
    header .navbar-default .navbar-toggle:focus {
      background: transparent; }
    header .navbar-default .navbar-nav > li > a {
      color: #a30707; }
    header .navbar-default .navbar-nav > li > a:hover {
      color: #002569; }
    header .navbar-default .navbar-nav > .active > a,
    header .navbar-default .navbar-default .navbar-nav > .active > a:hover,
    header .navbar-default .navbar-default .navbar-nav > .active > a:focus {
      background-color: #0f63f5;
      color: #a30707; }
    header .navbar-default .navbar-default .navbar-nav > li > a:hover,
    header .navbar-default .navbar-default .navbar-nav > li > a:focus {
      color: #0f63f5;
      border: none; }
    header .navbar-default .navbar-nav > .current > a,
    header .navbar-default .navbar-nav > .current > a:hover,
    header .navbar-default .navbar-nav > .current > a:focus {
      background-color: #002569;
      color: #a30707; }
  header .navbar {
    border-radius: 0;
    margin-bottom: 0; }
  header ul > li {
    margin-bottom: 0px; }
  header h1 {
    margin: 0;
    font-size: 0; }
  header .nav > li > a {
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    padding: 12px 15px;
    border-radius: 2px; }
