!!!
%html
  %head
    %meta{charset: "UTF-8"}
      %title Stars And Gripes
      %meta{content: "Chicago-based military veteran comedy team", name: "description"}

       / Mobile Specific Meta
        %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

        / Bootstrap
        %link{href: "assets/css/bootstrap.css", rel: "stylesheet"}

        / Font awesome
        %link{href: "assets/css/font-awesome.min.css", rel: "stylesheet"}

        / Animate.css
        %link{href: "assets/css/animate.css", rel: "stylesheet"}

        / Owl-carousel style
        %link{href: "assets/css/owl.carousel.css", rel: "stylesheet"}
        %link{href: "assets/css/owl.theme.css", rel: "stylesheet"}

        / magnific style
        %link{href: "assets/css/magnific-popup.css", rel: "stylesheet"}
                      / Custom stylesheet
                      %link{:href => "assets/css/animate.css", :rel => "stylesheet"}
                        %link{:href => "assets/css/demo.css", :rel => "stylesheet"}
                          %link{:href => "assets/css/font-awesome.min.css", :rel => "stylesheet"}
                            %link{:href => "assets/css/owl.carousel.css", :rel => "stylesheet"}
                              %link{:href => "assets/css/owl.theme.css", :rel => "stylesheet"}
                                %link{:href => "assets/css/preload.css", :rel => "stylesheet"}
                                  %link{:href => "assets/css/responsive.css", :media => "screen", :rel => "stylesheet"}
                                    %link{:href => "assets/css/style.scss", :rel => "stylesheet"}
                                      %link{:href => "assets/css/variables.css", :rel => "stylesheet"}
                                        %link{:href => "assets/css/third-party/YTPlayer.css", :rel => "stylesheet"}
                                          %link{:href => "assets/css/third-party/bootstrap-theme.min.css", :rel => "stylesheet"}
                                            / Added google font
                                            %link{:href => "https://fonts.googleapis.com/css?family=Merriweather:400,900", :rel => "stylesheet", :type => "text/css"}
                                              %link{:href => "http://fonts.googleapis.com/css?family=Dosis:400,600,700,800", :rel => "stylesheet", :type => "text/css"}
                                                %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,700", :rel => "stylesheet", :type => "text/css"}
                                                  / Fav and touch icons
                                                  %link{:href => "assets/images/icons/favicon.ico", :rel => "shortcut icon"}
                                                    %link{:href => "assets/images/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}
                                                      %link{:href => "assets/images/icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
                                                        %link{:href => "assets/images/icons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
                                                          / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
                                                          / WARNING: Respond.js doesn't work if you view the page via file://
                                                          /[if lt IE 9]
                                                            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                                            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
